* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 460px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 10px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controles {
  border: 2px solid #1f53c5;
  background: 24303c;
  border-radius: 4px;
  cursor: pointer;
}

.controlesSemestre {
  border: 2px solid #1f53c5;
  background: 24303c;
  border-radius: 4px;
}

.controls {
  width: 100%;
  background: 24303c;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 0px;
  border: 2px solid #1f53c5;
}

.button1 {
  border-bottom-color: #1f53c5;
  border-left-color: #1f53c5;
  border-right-color: #1f53c5;
  border-top-color: #1f53c5;
  background-color: white;
  color: #1f53c5;
  font-size: 13px;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 110px;
}
.botonReportes {
  border-bottom-color: #1f53c5;
  border-left-color: #1f53c5;
  border-right-color: #1f53c5;
  border-top-color: #1f53c5;
  background-color: white;
  color: #1f53c5;
  font-size: 13px;
  width: 170px;
  height: 30px;
  border-radius: 9px;
  border-radius: 9px;
  font-family: Arial;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
}
